// 選單
.breadcrumb{
    display: flex;
    padding: 8px 0;

    @include pad-lg(){
        margin-left: 39px;
    }

    li{
        margin-right: 5px;

        &:after{
            content: '/';
            margin-left: 5px;
        }

        a{
            color: #000;
            text-decoration: none;

            &:hover{
                color: $bg-red;
            }
        }
    }
}

// 當頁tag標籤
.tags{
    display: flex;
    padding: 0;

    @include pad-lg(){
        margin-left: 39px;
    }
}

// tag樣式
.tag{
    a{
        font-size: 24px;
        line-height: 36px;
        color: $bg-red;
        margin-right: 16px;
        font-weight: bold;
        text-decoration: none;

        &:hover{
            color: $hover-color;
        }
    }
}

// 文章內容
.blog-content{
    display: flex;
    padding: 0;

    @include pad-lg(){
        margin-left: 39px;
    }

    .article-content{
        max-width: 825px;
        padding: 0;
        margin-right: 30px;

        @include pad-lg(){
            max-width: 650px;
        }
    
        .article-title{
            
            // 文章標題
            h2{
                font-size: 48px;
                line-height: 95px;
            }
    
            // 文章副標題
            h3{
                font-size: 28px;
                line-height: 42px;
                margin-bottom: 24px;
            }
        }

        // 內頁圖片
        .img-box{
            height: 539px;
            @include bg-cover;
            margin-bottom: 24px;
        }

        // 介紹文字
        p{
            font-size: 20px;
            line-height: 30px;
            color: rgba(0, 0, 0, .6);
            margin-bottom: 40px;
        }

        // 分享連結
        .share-link{
            display: flex;
            align-items: center;
            padding-bottom: 21px;
            border-bottom: 1px solid #707070;

            h3{
                font-size: 20px;
                line-height: 30px;
                margin-right: 20px;
            }

            li{
                img{
                    width: 24px;
                    height: 24px;
                    margin-right: 16px;
                }
            }
        }

        // 上一篇/下一篇連結
        .page-link{
            padding-top: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 160px;

            li{
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: #000;
    
                    &:hover{
                        color: $bg-red;
                    }
    
                    h3{
                        padding: 0 12px;
                    }
                }
            }
        }

        // 下一篇連結反向排列
        .reserve{
            flex-direction: row-reverse;
        }
    }

    // 右側tag選單
    .tag-list{
        width: 150px;
        
        li{
            display: flex;
            align-items: center;
            padding: 8px 0;

            img{
                margin-right: 12px;
            }

            h3{
                font-size: 28px;
                line-height: 42px;
                color: $bg-red;
                font-weight: bold;
            }
        }
       }

}
