// 首頁banner
.banner{
    background-image: url(../images/banner.png);
    height: 840px;
    display: flex;
    align-items: center;
    @include bg-cover;

    .banner-title{
        text-align: right;
        margin-left: 939px;

        h4{
            font-size: 36px;
            color: $word-color;
        }

        h3{
            font-size: 64px;
            color: $word-color;
            font-weight: bold;
        }
    }
}

//店家簡介
.info{
  background: $bg-pink;  
  
  .container{
      ul{
          display: flex;
          align-items: center;

          li{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 15px;

              img{
                  width: 83.33px;
                  margin-bottom: 27.04px;
              }

              h3{
                  font-size: 24px;
                  line-height: 36px;
                  color: $word-color;
                  font-weight: bold;
                  margin-bottom: 8px;
              }

              p{
                  font-size: 16px;
                  line-height: 24px;
              }
          }
      }
  }
}

//經典系列鏡框
.glasses{
    .container{
        ul{
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 32px;

                img{
                    width: 635px;
                }

                h2{
                    width: 420px;
                    font-size: 48px;
                    color: $bg-red;
                    font-style: italic;
                    font-weight: bold;
                    padding: 0 30px;
                    display: flex;
                    align-items: center;

                    img{
                        width: 44px;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}

//聯名設計鏡框
.co-branding{
    background-image: url(../images/bg.png);
    @include bg-cover;
    padding-bottom: 80px;

    ul{
        display: flex;

        li{
            width: 540px;
            height: 455px;
            @include bg-cover;
            margin: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            //圖片加上白色遮罩
            background-color: rgba(255, 255, 255, .6);
            background-blend-mode: lighten;
            transition: all .3s;

            &:hover{
                background-color: rgba(255, 255, 255, 0);
            }

            h3{
                font-size: 72px;
                color: $bg-red;
                font-weight: bold;
            }

        }

        .double-A{
            background-image: url(../images/product-8.png);
        }

        .youth{
            background-image: url(../images/product-9.png);
        }
    }

}

//白色標題
.title-white{
    color: $word-white-color;
}

//顧客回饋
.customer-recommend{
    padding-bottom: 80px;

    ul{
        display: flex;

        li{
            width: 255px;
            margin: 0 15px;
            border: 1px solid #DEE2E6;
            box-shadow: 0px 2px 6px #00000029;
            transition: all .3s;

            &:hover{
                box-shadow: 0px 2px 8px rgb(172, 172, 172);
            }

            img{
                font-size: 0px;
            }

            .recommend{
                padding: 16px;
                height: 204px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3{
                    font-size: 14px;
                    color: #212529;
                    margin-bottom: 8px;
                }

                p{
                    font-size: 16px;
                    line-height: 24px;
                    color: #212529;
                }

                h5{
                    font-size: 14px;
                    color: #707070;
                    align-self: flex-end;
                }
            }

        }
    }
}

//黑色標題
.title-black{
    color: #000;
}

//聯絡我們
.contact{
  background: $bg-pink;

  form{
    display: flex;
    flex-direction: column;
    width: 730px;
    padding: 60px 0 90px 0;

    h2{
        margin-bottom: 24px;
    }

    p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    label{
        font-size: 16px;
        margin-bottom: 4px;
    }

    input,textarea{
        margin-bottom: 16px;
        background-color: $bg-pink;
        padding: 12px 16px;
    }

    .agree{
        margin-bottom: 40px;
    }

    .button{
        width: 350px;
        padding: 16px 143px;
        background-color: $bg-red;
        color: #FFF;
        align-self: center;
        outline: none;
        border: 0px;
        cursor: pointer;

        &:hover{
            background-color: $word-color;
        }
    }

  }
}