.banner{
    background-image: url(../images/banner.png);
    height: 840px;
    display: flex;
    align-items: center;


    // @include bg-cover;

    .title{
        text-align: right;
        margin-left: 939px;

        h4{
            font-size: 36px;
            color: $word-color;
        }

        h3{
            font-size: 64px;
            color: $word-color;
            font-weight: bold;
        }
    }
}

.info{
  background: $bg-pink;  
  padding: 60px 0;
  
  .container{
      h2{
        color: $word-color;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        margin-bottom: 52.5px;
        font-weight: bold;
      }

      ul{
          display: flex;
          align-items: center;

          li{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 15px;

              img{
                  width: 83.33px;
                  margin-bottom: 27.04px;
              }

              h3{
                  font-size: 24px;
                  line-height: 36px;
                  color: $word-color;
                  font-weight: bold;
                  margin-bottom: 8px;
              }

              p{
                  font-size: 16px;
                  line-height: 24px;
              }
          }
      }
  }
}