//導覽列
.nav{
    background-color: $bg-red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 88px;

    @include pad-md(){
        padding: 38px 39px;
    }

        a{
            img{
                width: 80px;
                height: 48.57px;
            }
        }

    ul{
        display: flex;

        li{
            a{
                font-size: 20px;
                line-height: 30px;
                text-decoration: none;
                padding: 0 32px;
                color: $word-white-color;

                &:hover{
                    color: $hover-color;
                    font-weight: bold;
                }
            }
        }
    }

}

//表尾
.footer{
    background-color: $bg-red;
    padding: 44px 0 39px 0;

    @include pad-lg(){
        padding: 38px 48px;
    }

    .container{
        display: flex;
        flex-direction: column;

        .link{
            display: flex;
            justify-content: space-between;
            align-items: center;

            //表尾導覽列
            .footer-nav{
                display: flex;

                li{
                    a{
                        color: $word-white-color;
                        text-decoration: none;
                        margin-right: 40px;

                        @include pad-md(){
                            font-size: 16px;
                            line-height: 24px;
                        }

                        &:hover{
                            color: $hover-color;
                            font-weight: bold;
                        }
                    }
                }
            }

            //社群連結
            .social-icon{
                display: flex;

                li{
                    margin-left: 32px;
                    border-radius: 10px;

                    img{
                        @include pad-md(){
                            width: 24px;
                        }

                        &:hover{
                            background-color: rgba(0, 0, 0, .2);
                            background-blend-mode: screen;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

        //聯絡方式
        .contact{
            padding: 36px 0;
            border-bottom: 1px solid $word-white-color;

            li{
                display: flex;
                align-items: center;

                img{
                    width: 36px;
                    height: 36px;
                    margin-right: 22px;

                    @include pad-md(){
                        width: 18px;
                        height: 18px;
                        margin-right: 11px;
                    }
                }

                a{
                    font-size: 36px;
                    line-height: 54px;
                    color: $word-white-color;
                    text-decoration: none;

                    @include pad-md(){
                        font-size: 20px;
                        line-height: 30px;
                    }

                    &:hover{
                        color: $hover-color;
                    }
                }

            }

        }

        //版權
        .copyright{
            display: flex;
            justify-content: space-between;
            padding: 39px 0;

            p{
                font-size: 16px;
                color: $word-white-color;
            }

            ul{
                display: flex;

                li{

                    a{
                        text-decoration: none;
                        font-size: 14px;
                        color: $word-white-color;
                        margin-left: 48px;

                        &:hover{
                            color: $hover-color;
                        }
                    }
                }
            }
        }

    }

}