.product-nav{
    display: flex;
    justify-content: center;
    padding: 0;

    ul{
        display: flex;

        li {
            border-left: 1px solid #DCDCDC;
            border-right: 1px solid #DCDCDC;
            border-bottom: 8px solid transparent;

            &:hover{
                border-bottom: 8px solid $bg-red;
            }

            a{
                padding: 27px 92px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000;
                font-weight: bold;
                font-size: 32px;
                text-decoration: none;
    
                img{
                    width: 44px;
                    height: 44px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.product-banner{
    display: flex;
    
    li{
        width: 960px;
        height: 304px;
        @include bg-cover;
    }
}

.optical-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    ul{
        display: flex;
        flex-wrap: wrap;

        li{
            margin-right: 30px;
            margin-bottom: 104px;

            &:nth-child(4n){
                margin-right: 0;
            }

            .img-box{
                width: 255px;
                height: 164px;
                overflow: hidden;
                @include bg-cover;
                cursor: pointer;

                &:hover{
                    box-shadow: 0px 2px 6px #00000029;
                }
            }

            .product-info{
                display: flex;
                justify-content: space-between;
                font-size: 24px;
                line-height: 36px;

                h3{
                  color: $bg-red;  
                  font-weight: bold;
                }
            }

            .color{
                display: flex;

                .color-box{
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    margin-right: 8px;
                }
    
                .color-dark{
                    background-color: #5F3E2D;
                }
    
                .color-light{
                    background-color: #B75929;
                }
            }
        }
    }
}