.product-nav{
    display: flex;
    justify-content: center;
    padding: 0;

    ul{
        display: flex;

        li {
            border-left: 1px solid #DCDCDC;
            border-right: 1px solid #DCDCDC;
            border-bottom: 8px solid transparent;

            &:hover{
                border-bottom: 8px solid $bg-red;
            }

            a{
                padding: 27px 92px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000;
                font-weight: bold;
                font-size: 32px;
                text-decoration: none;
    
                img{
                    width: 44px;
                    height: 44px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.product-banner{
    display: flex;
    img{
        display: block;
    }
}

.product-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    ul{
        display: flex;
        flex-wrap: wrap;

        li{
            margin-right: 30px;
            margin-bottom: 104px;

            &:nth-child(4n){
                margin-right: 0;
            }

            .img-box{
                width: 255px;
                height: 164px;
                overflow: hidden;
            }

            .product-info{
                display: flex;
                justify-content: space-between;
                font-size: 24px;
                line-height: 36px;

                h3{
                  color: $bg-red;  
                  font-weight: bold;
                }
            }

            .color{
                display: flex;

                .color-box{
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    margin-right: 8px;
                }
    
                .color-dark{
                    background-color: #5F3E2D;
                }
    
                .color-light{
                    background-color: #B75929;
                }
            }
        }
    }
}

.product-page{
    display: flex;
    justify-content: center;
    margin-bottom: 160px;

    li{
        border: 1px solid #555555;
        display: flex;
        align-items: center;
        
        a{
            padding: 12px 16px;
            font-size: 19px;
            line-height: 29px;
            text-decoration: none;
            color: #555555;

            &:hover{
                background-color: #F2F2F2;
                color: #555555;
            }
        }
    }

    .page-active{
        background-color: #000;

        a{
            color: $word-white-color;
        }
    }
}