//常見問題副標題
.question-title{
    font-size: 32px;
    line-height: 63px;
    margin-bottom: 36px;
    padding: 0;

    @include pad-lg(){
        margin-left: 39px;
    }

    @include phone-md(){
        font-size: 20px;
        margin-bottom: 24px;
        margin-left: 15px;
    }
}

//常見問題內容
.question-list{
    padding: 0;
    margin-bottom: 160px;

    @include pad-lg(){
        margin-left: 39px;
    }

    @include phone-md(){
        margin-left: 0;
        padding: 15px;
    }

    li{
        margin-bottom: 32px;

        //問題
        h4{
            font-size: 20px;
            line-height: 23px;
            font-weight: bold;
            margin-bottom: 16px;

            @include phone-md(){
                font-size: 16px;
            }
        }

        //回答
        p{
            font-size: 16px;
            line-height: 24px;
            padding: 0 80px;

            @include phone-md(){
                font-size: 14px;
                line-height: 21px;
                padding: 0;
            }
        }
    }

}