.question-title{
    font-size: 32px;
    line-height: 63px;
    margin-bottom: 36px;
    padding: 0;

    @include pad-lg(){
        margin-left: 39px;
    }
}

.question-list{
    padding: 0;
    margin-bottom: 160px;

    @include pad-lg(){
        margin-left: 39px;
    }

    li{
        margin-bottom: 32px;

        h4{
            font-size: 20px;
            line-height: 23px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        p{
            width: 920px;
            font-size: 16px;
            line-height: 24px;
            padding: 0 80px;
        }
    }

}