//顏色樣式
$bg-red: #AA0601;
$bg-pink: rgba(214, 165, 164, 0.051);
$word-white-color: #FFFFFF;
$word-color: #650300;
$hover-color: #F9DBBD;

//字體
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html{
    font-family: 'Open Sans', sans-serif;
}

//圖片置中
@mixin bg-cover{
    background-size: cover;
    background-position: center center;
}

//動畫效果
@mixin transition{
    transition: all .3s;
}

//預設網頁大小
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 60px 0;
}

//首頁標題
.title{
    color: $word-color;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 52.5px;
    font-weight: bold;
}

//商品頁副導覽列
.product-nav{
    display: flex;
    justify-content: center;
    padding: 0;

    ul{
        display: flex;

        li {
            border-left: 1px solid #DCDCDC;
            border-right: 1px solid #DCDCDC;
            border-bottom: 8px solid transparent;

            &:hover{
                border-bottom: 8px solid $bg-red;
            }

            a{
                padding: 27px 92px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000;
                font-weight: bold;
                font-size: 32px;
                text-decoration: none;

                @include pad-lg(){
                    padding: 14px 46px;       
                }
    
                img{
                    width: 44px;
                    height: 44px;
                    margin-right: 10px;
                }
            }
        }
    }
}

//商品頁標題
.product-title{
    font-size: 42px;
    margin-top: 80px;
    line-height: 63px;
}
//商品頁副標題
.product-sub-title{
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px;
}
//商品頁導覽列點擊樣式
.product-nav-active{
    border-bottom: 8px solid $bg-red !important;
}

//商品頁banner樣式
.product-banner{
    display: flex;
    
    li{
        width: 960px;
        height: 304px;
        @include bg-cover;
    }
}

//page頁數
.product-page{
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 160px;

    @include pad-lg(){
        margin-top: 65px;
        margin-bottom: 96px;
    }

    li{
        border: 1px solid #555555;
        display: flex;
        align-items: center;
        
        a{
            padding: 12px 16px;
            font-size: 19px;
            line-height: 29px;
            text-decoration: none;
            color: #555555;

            &:hover{
                background-color: #F2F2F2;
                color: #555555;
            }
        }
    }

    .page-active{
        background-color: #000;

        a{
            color: $word-white-color;
        }
    }
}

//門市據點.常見問題標題
.store-title{
    font-size: 48px;
    font-weight: bold;
    padding: 16px;
    border-left: 8px solid #9F1213;
    margin-top: 96px;
    margin-bottom: 60px;
    line-height: 80px;

    @include pad-lg(){
        margin-left: 39px;   
    }
}

//部落格標題
.blog-title{
    font-size: 48px;
    font-weight: bold;
    padding: 16px;
    border-left: 8px solid #9F1213;
    margin-top: 40px;
    margin-bottom: 60px;

    @include pad-lg(){
        margin-left: 39px;   
    }
}

//部落格副導覽列
.blog-nav{
    background: #650300;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;

        @include pad-lg(){
            padding: 16px 39px;
        }

            .blog-menu{
                display: flex;

                li{
                    a{
    
                        text-decoration: none;
                        font-size: 20px;
                        line-height: 24px;
                        color: $word-white-color;
                        margin-right: 48px;
    
                        &:hover{
                            color: $hover-color;
                        }
                    }
                }
            }
        
            .search-list{
                display: flex;
    
                img{
                    width: 29.15px;
                    margin-right: 15px;
                }
    
                input{
                    border: 0;
                    outline: none;
                    background-color: #75221f;
                    border-radius: 5px;
                    color: $word-white-color;
                    width: 250px;

                    &:focus{
                        border: 2px solid rgba(255, 255, 255, .3);
                    }
                }
            }
        
        }

}