//分店選擇
.shop-form{
    display: flex;
    align-items: center;

    @include pad-lg(){
        margin-left: 39px;
    }

    label{
        font-size: 24px;
        margin-right: 20px;

        @include pad-md(){
            font-size: 16px;
            line-height: 30px;
        }
    }
    select{
        width: 324px;
        height: 45px;
        padding: 8px 19px;

        @include pad-md(){
            width: 237px;
            padding: 10px 16px;
        }
    }
}

//分店資訊
.shop-info{
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    @include pad-lg(){
        margin-left: 39px;
        flex-direction: column;
    }

    .border{
        border: 1px solid #00000020;
    }

    li{
        max-width: 350px;
        margin-right: 30px;
        margin-bottom: 32px;

        @include pad-lg(){
            display: flex;
            max-width: 800px;
        }

        &:nth-child(3n){
            margin-right: 0px;
        }

        //分店預覽圖
        .img-box{
            height: 224px;
            @include bg-cover;

            @include pad-lg(){
                width: 50%;
                margin-right: 20px;
                height: 230px;
            }
        }

        //分店資訊(名稱/時間/地點/電話)
        .shop-list{
            display: flex;
            flex-direction: column; 

            @include pad-lg(){
                height: 230px;
            }

            //分店名稱
            h2{
                font-size: 24px;
                color: #212529;
                padding: 12px 24px;
            }
    
            //分店詳細資訊
            .store-info{
                padding: 22px 27px;
    
                li{
                    display: flex;
                    margin-bottom: 8px;
                    font-size: 20px;
                    line-height: 30px;

                    @include pad-lg(){
                        font-size: 18px;
                    }
    
                    &:nth-last-child(1){
                        margin-bottom: 0px;
                    }
    
                    img{
                        width: 18px;
                        height: 18px;
                        margin-right: 12.04px;
                    }
                }
            }
        }

        //Google地圖
        iframe{
            width: 635px;
            height: 452px;

            @include pad-lg(){
                width: 100%;
                height: 600px;
                margin-bottom: 96px;
            }
        }
    }
}