/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 60px 0; }

.title {
  color: #650300;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 52.5px;
  font-weight: bold; }

.product-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0; }
  .product-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product-nav ul li {
      border-left: 1px solid #DCDCDC;
      border-right: 1px solid #DCDCDC;
      border-bottom: 8px solid transparent; }
      .product-nav ul li:hover {
        border-bottom: 8px solid #AA0601; }
      .product-nav ul li a {
        padding: 27px 92px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #000;
        font-weight: bold;
        font-size: 32px;
        text-decoration: none; }
        @media (max-width: 992px) {
          .product-nav ul li a {
            padding: 14px 46px; } }
        .product-nav ul li a img {
          width: 44px;
          height: 44px;
          margin-right: 10px; }

.product-title {
  font-size: 42px;
  margin-top: 80px;
  line-height: 63px; }

.product-sub-title {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 40px; }

.product-nav-active {
  border-bottom: 8px solid #AA0601 !important; }

.product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 96px;
  margin-bottom: 160px; }
  @media (max-width: 992px) {
    .product-page {
      margin-top: 65px;
      margin-bottom: 96px; } }
  .product-page li {
    border: 1px solid #555555;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .product-page li a {
      padding: 12px 16px;
      font-size: 19px;
      line-height: 29px;
      text-decoration: none;
      color: #555555; }
      .product-page li a:hover {
        background-color: #F2F2F2;
        color: #555555; }
  .product-page .page-active {
    background-color: #000; }
    .product-page .page-active a {
      color: #FFFFFF; }

.store-title {
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
  border-left: 8px solid #9F1213;
  margin-top: 96px;
  margin-bottom: 60px;
  line-height: 80px; }
  @media (max-width: 992px) {
    .store-title {
      margin-left: 39px; } }

.blog-title {
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
  border-left: 8px solid #9F1213;
  margin-top: 40px;
  margin-bottom: 60px; }

.blog-nav {
  background: #650300; }
  .blog-nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px; }
    .blog-nav .container .blog-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .blog-nav .container .blog-menu li a {
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 48px; }
        .blog-nav .container .blog-menu li a:hover {
          color: #F9DBBD; }
    .blog-nav .container .search-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .blog-nav .container .search-list img {
        width: 29.15px;
        margin-right: 15px; }
      .blog-nav .container .search-list input {
        border: 0;
        outline: none;
        background-color: #75221f;
        border-radius: 5px;
        color: #FFFFFF;
        width: 250px; }
        .blog-nav .container .search-list input:focus {
          border: 2px solid rgba(255, 255, 255, 0.3); }

.nav {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 88px; }
  .nav a img {
    width: 80px;
    height: 48.57px; }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav ul li a {
      font-size: 20px;
      line-height: 30px;
      text-decoration: none;
      padding: 0 32px;
      color: #FFFFFF; }
      .nav ul li a:hover {
        color: #F9DBBD;
        font-weight: bold; }

.footer {
  background-color: #AA0601;
  padding: 44px 0 39px 0; }
  @media (max-width: 992px) {
    .footer {
      padding: 38px 48px; } }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .container .link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .container .link .footer-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .footer .container .link .footer-nav li a {
          color: #FFFFFF;
          text-decoration: none;
          margin-right: 48px; }
          .footer .container .link .footer-nav li a:hover {
            color: #F9DBBD;
            font-weight: bold; }
      .footer .container .link .social-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .footer .container .link .social-icon li {
          margin-left: 32px;
          border-radius: 10px; }
          .footer .container .link .social-icon li img:hover {
            background-color: rgba(0, 0, 0, 0.2);
            background-blend-mode: screen;
            border-radius: 10px; }
    .footer .container .contact {
      padding: 36px 0;
      border-bottom: 1px solid #FFFFFF; }
      .footer .container .contact li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .container .contact li img {
          width: 36px;
          height: 36px;
          margin-right: 22px; }
        .footer .container .contact li a {
          font-size: 36px;
          line-height: 54px;
          color: #FFFFFF;
          text-decoration: none; }
          .footer .container .contact li a:hover {
            color: #F9DBBD; }
    .footer .container .copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 39px 0; }
      .footer .container .copyright p {
        font-size: 16px;
        color: #FFFFFF; }
      .footer .container .copyright ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .footer .container .copyright ul li a {
          text-decoration: none;
          font-size: 14px;
          color: #FFFFFF;
          margin-left: 48px; }
          .footer .container .copyright ul li a:hover {
            color: #F9DBBD; }

.banner {
  background-image: url(../images/banner.png);
  height: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center center; }
  .banner .banner-title {
    text-align: right;
    margin-left: 939px; }
    @media (max-width: 992px) {
      .banner .banner-title {
        margin-left: 297.5px; } }
    .banner .banner-title h4 {
      font-size: 36px;
      color: #650300; }
    .banner .banner-title h3 {
      font-size: 64px;
      color: #650300;
      font-weight: bold; }

.info {
  background: rgba(214, 165, 164, 0.051); }
  .info .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .info .container ul li {
      width: 22%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 15px; }
      @media (max-width: 992px) {
        .info .container ul li {
          width: 45%;
          padding: 34px 53px; } }
      .info .container ul li img {
        width: 83.33px;
        margin-bottom: 27.04px; }
      .info .container ul li h3 {
        font-size: 24px;
        line-height: 36px;
        color: #650300;
        font-weight: bold;
        margin-bottom: 8px; }
      .info .container ul li p {
        font-size: 16px;
        line-height: 24px; }

.glasses .container ul .reserve {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 992px) {
    .glasses .container ul .reserve {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.glasses .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px; }
  .glasses .container ul li img {
    width: 635px; }
    @media (max-width: 992px) {
      .glasses .container ul li img {
        width: 390px; } }
  .glasses .container ul li h2 {
    width: 520px;
    font-size: 48px;
    color: #AA0601;
    font-style: italic;
    font-weight: bold;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .glasses .container ul li h2 {
        width: 250px;
        font-size: 28px; } }
    .glasses .container ul li h2 img {
      width: 44px;
      margin: 0 10px; }

.co-branding {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center center;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .co-branding {
      padding-bottom: 56px; } }
  .co-branding ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .co-branding ul li {
      width: 540px;
      height: 455px;
      background-size: cover;
      background-position: center center;
      margin: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: rgba(255, 255, 255, 0.6);
      background-blend-mode: lighten;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      @media (max-width: 992px) {
        .co-branding ul li {
          width: 330px;
          height: 278px; } }
      .co-branding ul li:hover {
        background-color: rgba(255, 255, 255, 0); }
      .co-branding ul li h3 {
        font-size: 72px;
        color: #AA0601;
        font-weight: bold; }
        @media (max-width: 992px) {
          .co-branding ul li h3 {
            font-size: 32px; } }
    .co-branding ul .double-A {
      background-image: url(../images/product-8.png); }
    .co-branding ul .youth {
      background-image: url(../images/product-9.png); }

.title-white {
  color: #FFFFFF; }

.customer-recommend {
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .customer-recommend {
      padding-bottom: 56px; } }
  .customer-recommend ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 992px) {
      .customer-recommend ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .customer-recommend ul li {
      width: 255px;
      margin: 0 15px;
      border: 1px solid #DEE2E6;
      -webkit-box-shadow: 0px 2px 6px #00000029;
              box-shadow: 0px 2px 6px #00000029;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      @media (max-width: 992px) {
        .customer-recommend ul li {
          width: 45%;
          margin-bottom: 32px; } }
      .customer-recommend ul li:hover {
        -webkit-box-shadow: 0px 2px 8px #acacac;
                box-shadow: 0px 2px 8px #acacac; }
      .customer-recommend ul li .img-box {
        height: 256px;
        background-size: cover;
        background-position: center center; }
      .customer-recommend ul li .recommend {
        padding: 16px;
        height: 204px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        @media (max-width: 992px) {
          .customer-recommend ul li .recommend {
            padding: 24px; } }
        .customer-recommend ul li .recommend h3 {
          font-size: 14px;
          color: #212529;
          margin-bottom: 8px; }
        .customer-recommend ul li .recommend p {
          font-size: 16px;
          line-height: 24px;
          color: #212529; }
        .customer-recommend ul li .recommend h5 {
          font-size: 14px;
          color: #707070;
          -ms-flex-item-align: end;
              align-self: flex-end; }

.title-black {
  color: #000; }

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 730px;
  padding: 60px 0 90px 0; }
  @media (max-width: 992px) {
    .contact form {
      padding: 40px 159px; } }
  .contact form h2 {
    margin-bottom: 24px; }
  .contact form p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px; }
  .contact form label {
    font-size: 16px;
    margin-bottom: 4px; }
  .contact form input, .contact form textarea {
    margin-bottom: 16px;
    background-color: rgba(214, 165, 164, 0.051);
    padding: 12px 16px; }
  .contact form .agree {
    margin-bottom: 40px; }
  .contact form .button {
    width: 350px;
    padding: 16px 143px;
    background-color: #AA0601;
    color: #FFF;
    -ms-flex-item-align: center;
        align-self: center;
    outline: none;
    border: 0px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .contact form .button:hover {
      background-color: #650300; }

.product-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-banner li {
    width: 960px;
    height: 304px;
    background-size: cover;
    background-position: center center; }

.optical-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0; }
  .optical-content .optical-product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .optical-content .optical-product-list .optical-product {
      width: 255px;
      margin-right: 30px;
      margin-bottom: 104px; }
      .optical-content .optical-product-list .optical-product:nth-child(4n) {
        margin-right: 0; }
      @media (max-width: 992px) {
        .optical-content .optical-product-list .optical-product {
          width: 330px;
          margin-right: 0; }
          .optical-content .optical-product-list .optical-product:nth-child(2n) {
            margin-left: 30px; } }
      .optical-content .optical-product-list .optical-product .img-box {
        height: 164px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        cursor: pointer; }
        .optical-content .optical-product-list .optical-product .img-box:hover {
          -webkit-box-shadow: 0px 2px 6px #00000029;
                  box-shadow: 0px 2px 6px #00000029; }
      .optical-content .optical-product-list .optical-product .product-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 24px;
        line-height: 36px; }
        .optical-content .optical-product-list .optical-product .product-info h3 {
          color: #AA0601;
          font-weight: bold; }
      .optical-content .optical-product-list .optical-product .color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .optical-content .optical-product-list .optical-product .color .color-box {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          margin-right: 8px; }
        .optical-content .optical-product-list .optical-product .color .color-dark {
          background-color: #5F3E2D; }
        .optical-content .optical-product-list .optical-product .color .color-light {
          background-color: #B75929; }

.product-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-banner li {
    width: 960px;
    height: 304px;
    background-size: cover;
    background-position: center center; }

.sunglasses-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0; }
  .sunglasses-content .sunglasses-product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sunglasses-content .sunglasses-product-list .sunglasses-product {
      width: 255px;
      margin-right: 30px;
      margin-bottom: 104px; }
      .sunglasses-content .sunglasses-product-list .sunglasses-product:nth-child(3n) {
        margin-right: 0; }
      @media (max-width: 992px) {
        .sunglasses-content .sunglasses-product-list .sunglasses-product {
          width: 330px;
          margin-right: 0; }
          .sunglasses-content .sunglasses-product-list .sunglasses-product:nth-child(2n) {
            margin-left: 30px; } }
      .sunglasses-content .sunglasses-product-list .sunglasses-product .img-box {
        height: 224px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        cursor: pointer; }
        @media (max-width: 992px) {
          .sunglasses-content .sunglasses-product-list .sunglasses-product .img-box {
            height: 164px; } }
        .sunglasses-content .sunglasses-product-list .sunglasses-product .img-box:hover {
          -webkit-box-shadow: 0px 2px 6px #00000029;
                  box-shadow: 0px 2px 6px #00000029; }
      .sunglasses-content .sunglasses-product-list .sunglasses-product .product-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 24px;
        line-height: 36px; }
        .sunglasses-content .sunglasses-product-list .sunglasses-product .product-info h3 {
          color: #AA0601;
          font-weight: bold; }
      .sunglasses-content .sunglasses-product-list .sunglasses-product .color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .sunglasses-content .sunglasses-product-list .sunglasses-product .color .color-box {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          margin-right: 8px; }
        .sunglasses-content .sunglasses-product-list .sunglasses-product .color .color-dark {
          background-color: #5F3E2D; }
        .sunglasses-content .sunglasses-product-list .sunglasses-product .color .color-light {
          background-color: #B75929; }

.place-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .place-form {
      padding: 0 39px;
      margin-bottom: 24px; } }
  .place-form label {
    font-size: 24px;
    margin-right: 20px; }
  .place-form select {
    width: 324px;
    height: 45px;
    padding: 8px 19px; }

.store-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0; }
  @media (max-width: 992px) {
    .store-list {
      padding: 0 39px; } }
  .store-list .border {
    border: 1px solid #00000020; }
  .store-list li {
    max-width: 350px;
    margin-right: 30px;
    margin-bottom: 32px; }
    .store-list li:nth-child(3n) {
      margin-right: 0px; }
    .store-list li .img-box {
      height: 224px;
      background-size: cover;
      background-position: center center; }
    @media (max-width: 992px) {
      .store-list li {
        max-width: 330px; }
        .store-list li:nth-child(3n) {
          margin-right: 30px; }
        .store-list li:nth-child(2n) {
          margin-right: 0px; } }
    .store-list li h2 {
      font-size: 24px;
      color: #212529;
      padding: 12px 24px; }
    .store-list li ul {
      padding: 22px 27px; }
      .store-list li ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 30px; }
        .store-list li ul li:nth-last-child(1) {
          margin-bottom: 0px; }
        .store-list li ul li img {
          width: 18px;
          height: 18px;
          margin-right: 12.04px; }
    .store-list li a {
      width: 350px;
      padding: 20px 137px;
      display: block;
      background-color: #000;
      color: #FFF;
      outline: none;
      border: 0;
      cursor: pointer;
      font-size: 19px;
      line-height: 27px;
      text-decoration: none;
      text-align: center;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      @media (max-width: 992px) {
        .store-list li a {
          width: 330px;
          font-size: 14px;
          line-height: 21px; } }
      .store-list li a:hover {
        background-color: #650300; }

.shop-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .shop-form label {
    font-size: 24px;
    margin-right: 20px; }
  .shop-form select {
    width: 324px;
    height: 45px;
    padding: 8px 19px; }

.shop-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0; }
  .shop-info .border {
    border: 1px solid #00000020; }
  .shop-info li {
    max-width: 350px;
    margin-right: 30px;
    margin-bottom: 32px; }
    .shop-info li:nth-child(3n) {
      margin-right: 0px; }
    .shop-info li .img-box {
      height: 224px;
      background-size: cover;
      background-position: center center; }
    .shop-info li h2 {
      font-size: 24px;
      color: #212529;
      padding: 12px 24px; }
    .shop-info li ul {
      padding: 22px 27px; }
      .shop-info li ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 30px; }
        .shop-info li ul li:nth-last-child(1) {
          margin-bottom: 0px; }
        .shop-info li ul li img {
          width: 18px;
          height: 18px;
          margin-right: 12.04px; }
        .shop-info li ul li iframe {
          width: 635px;
          height: 422px; }

.question-title {
  font-size: 32px;
  line-height: 63px;
  margin-bottom: 36px;
  padding: 0; }

.question-list {
  padding: 0;
  margin-bottom: 160px; }
  .question-list li {
    margin-bottom: 32px; }
    .question-list li h4 {
      font-size: 20px;
      line-height: 23px;
      font-weight: bold;
      margin-bottom: 16px; }
    .question-list li p {
      width: 920px;
      font-size: 16px;
      line-height: 24px;
      padding: 0 80px; }

.article-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0; }
  .article-list .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px; }
    .article-list .article .img-box {
      width: 635px;
      height: 400px;
      background-size: cover;
      background-position: center center;
      margin-right: 30px; }
    .article-list .article .article-info {
      width: 445px;
      position: relative; }
      .article-list .article .article-info .df-c {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 24px; }
      .article-list .article .article-info h2 {
        font-size: 32px;
        line-height: 63px;
        color: #650300; }
      .article-list .article .article-info h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 20px;
        line-height: 30px; }
      .article-list .article .article-info h4 {
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.7); }
      .article-list .article .article-info p {
        font-size: 20px;
        line-height: 30px;
        color: #555555; }
      .article-list .article .article-info a {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #650300;
        font-weight: bold;
        text-decoration: none;
        font-size: 36px;
        line-height: 54px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .article-list .article .article-info a:hover {
          color: #AA0601; }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0; }
  .breadcrumb li {
    margin-right: 5px; }
    .breadcrumb li:after {
      content: '/';
      margin-left: 5px; }
    .breadcrumb li a {
      color: #000;
      text-decoration: none; }
      .breadcrumb li a:hover {
        color: #AA0601; }

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }

.tag a {
  font-size: 24px;
  line-height: 36px;
  color: #AA0601;
  margin-right: 16px;
  font-weight: bold;
  text-decoration: none; }
  .tag a:hover {
    color: #F9DBBD; }

.blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }
  .blog-content .article-content {
    width: 825px;
    padding: 0;
    margin-right: 30px; }
    .blog-content .article-content .article-title h2 {
      font-size: 48px;
      line-height: 95px; }
    .blog-content .article-content .article-title h3 {
      font-size: 28px;
      line-height: 42px;
      margin-bottom: 24px; }
    .blog-content .article-content .img-box {
      height: 539px;
      background-size: cover;
      background-position: center center;
      margin-bottom: 24px; }
    .blog-content .article-content p {
      font-size: 20px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 40px; }
    .blog-content .article-content .share-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 21px;
      border-bottom: 1px solid #707070; }
      .blog-content .article-content .share-link h3 {
        font-size: 20px;
        line-height: 30px;
        margin-right: 20px; }
      .blog-content .article-content .share-link li img {
        width: 24px;
        height: 24px;
        margin-right: 16px; }
    .blog-content .article-content .page-link {
      padding-top: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 160px; }
    .blog-content .article-content li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-decoration: none;
      color: #000; }
      .blog-content .article-content li a:hover {
        color: #AA0601; }
      .blog-content .article-content li a h3 {
        padding: 0 12px; }
    .blog-content .article-content .reserve {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
  .blog-content .tag-list {
    width: 150px; }
    .blog-content .tag-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 8px 0; }
      .blog-content .tag-list li img {
        margin-right: 12px; }
      .blog-content .tag-list li h3 {
        font-size: 28px;
        line-height: 42px;
        color: #AA0601;
        font-weight: bold; }

/*# sourceMappingURL=all.css.map */
